server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: docker_logs
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
        refresh_interval: 5s

    pipeline_stages:
      - regex:
          expression: '^\S+\s+(?P<level>INFO|WARN|ERROR|DEBUG)\s+'
      - labels:
          level:

    relabel_configs:
      - source_labels: ['__meta_docker_container_name']
        regex: '/(.*)'
        target_label: container

      - replacement: docker
        target_label: job

      - source_labels: ['__meta_docker_container_name']
        regex: '/(Lumo_Blue|Lumo_Green)'
        target_label: service_name